@-webkit-keyframes roundandround-ball {
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
  }
}

.ball-scene {
  position: absolute;
  top: 0;
  left: 0;
  display:block;
  width:100px;
  height:100px;
  margin:2% auto;
  -webkit-perspective: 1000px;
  -webkit-transform-style: preserve-3d;
}
.ball-scene .ball-wrapper {
  width:100%;
  height:100%;
  -webkit-transform: rotateX(45deg) rotateY(45deg);
  -webkit-transform-style: preserve-3d;
}
.ball {
  position: relative;
  width: 100%;
  height: 100%;
  margin:0 auto;
  -webkit-transform-style: preserve-3d;
  -webkit-animation: roundandround-ball 5s 0s infinite linear;
}
.ball .ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border:4px;
  border-style: dashed;
  border-radius: 50%;
}
.ring:nth-child(1) {
  color:#8df435;
  -webkit-transform: rotateY(4deg);
}
/*.ring:nth-child(2) {
  color:#a8e526;
  -webkit-transform: rotateY(8deg);
}*/
.ring:nth-child(2) {
  color:#c2d11c;
  -webkit-transform: rotateY(12deg);
}
/*.ring:nth-child(4) {
  color:#c8cb1b;
  -webkit-transform: rotateY(16deg);
}*/
.ring:nth-child(3) {
  color:#deb21a;
  -webkit-transform: rotateY(20deg);
}
/*.ring:nth-child(6) {
  color:#ef9621;
  -webkit-transform: rotateY(24deg);
}*/
.ring:nth-child(4) {
  color:#f29122;
  -webkit-transform: rotateY(28deg);
}
/*.ring:nth-child(8) {
  color:#fb7430;
  -webkit-transform: rotateY(32deg);
}*/
.ring:nth-child(5) {
  color:#fe5944;
  -webkit-transform: rotateY(36deg);
}
/*.ring:nth-child(10) {
  color:#fe5548;
  -webkit-transform: rotateY(40deg);
}*/
.ring:nth-child(6) {
  color:#f83d61;
  -webkit-transform: rotateY(44deg);
}
/*.ring:nth-child(12) {
  color:#ec2b7d;
  -webkit-transform: rotateY(48deg);
}*/
.ring:nth-child(7) {
  color:#e82983;
  -webkit-transform: rotateY(52deg);
}
/*.ring:nth-child(14) {
  color:#d41e9f;
  -webkit-transform: rotateY(56deg);
}*/
.ring:nth-child(8) {
  color:#bd1aba;
  -webkit-transform: rotateY(60deg);
}
/*.ring:nth-child(16) {
  color:#b81ac0;
  -webkit-transform: rotateY(64deg);
}*/
.ring:nth-child(9) {
  color:#9c1fd7;
  -webkit-transform: rotateY(68deg);
}
/*.ring:nth-child(18) {
  color:#802aea;
  -webkit-transform: rotateY(72deg);
}*/
.ring:nth-child(10) {
  color:#7a2dee;
  -webkit-transform: rotateY(76deg);
}
/*.ring:nth-child(20) {
  color:#5f40f9;
  -webkit-transform: rotateY(80deg);
}*/
.ring:nth-child(11) {
  color:#4657fe;
  -webkit-transform: rotateY(84deg);
}
/*.ring:nth-child(22) {
  color:#425cfe;
  -webkit-transform: rotateY(88deg);
}*/
.ring:nth-child(12) {
  color:#2f77fb;
  -webkit-transform: rotateY(92deg);
}
